.pokemons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.content-heading {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.flip-card {
    background-color: transparent;
    width: 170px;
    height: 130px;
    margin-top: 1em;
}

.card-opacity {
    opacity: 0.6;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-button {
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
}

.flip {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #80b0cf;
    color: black;
}

.flip-card-back {
    background-color: #80b0cf;
    color: white;
    transform: rotateY(180deg);
}

.pick-btn {
    background-color: #ee1515;
    padding: 2rem 2.5rem;
    text-align: center;
    color: #f1f1f1;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 3rem;
    margin-top: 2rem;
    cursor: pointer;
    border: 0;
}

.pick-btn:hover {
    transform: scale(0.95);
}