.content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    width: 1020px;
    height: 720px;
    background-color: #f1f1f1;
    border: 10px solid #000;
    border-radius: 1rem;
    padding: 5rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.content div {
    text-align: center;
    margin-bottom: 2rem;
}

.info-heading {
    text-align: center;
    margin-bottom: 2rem;
}

.content-btn {
    display: flex;
    align-items: center;
    width: 400px;
}

.content-btn-input {
    width: 50%;
    padding: 1.5rem 2rem;
    outline: none;
    background-color: #000;
    border: 4px solid #000;
    color: #f1f1f1;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

.content-btn-submit {
    width: 50%;
    text-decoration: none;
    border: 4px solid #ee1515;
    background-color: #ee1515;
    padding: 1.5rem;
    text-align: center;
    color: #f1f1f1;
    font-weight: 600;
    letter-spacing: 2px;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    cursor: pointer;
}

.content-btn-submit:hover {
    background-color: #f35c5c;
    border-color: #f35c5c;
}

.heading {
    font-size: 3.8rem;
    line-height: 2;
    text-align: center;
}